doctype html
//if IE 9
  html.ie9(lang='en')  
// [if !IE] <!
html(lang='en')
  // <![endif]
  head
    title Consulting | Unify - Responsive Website Template
    // Meta
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    // Favicon
    link(rel='shortcut icon', href='../favicon.ico')
    // Web Fonts
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,500&subset=cyrillic,latin')
    // CSS Global Compulsory
    link(rel='stylesheet', href='../assets/plugins/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='../assets/css/one.style.css')
    // CSS Implementing Plugins
    link(rel='stylesheet', href='../assets/plugins/animate.css')
    link(rel='stylesheet', href='../assets/plugins/line-icons/line-icons.css')
    link(rel='stylesheet', href='../assets/plugins/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='../assets/plugins/line-icons-pro/styles.css')
    link(rel='stylesheet', href='../assets/plugins/owl-carousel2/assets/owl.carousel.css')
    link(rel='stylesheet', href='../assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css')
    // CSS Theme
    link(rel='stylesheet', href='assets/css/consulting.style.css')
    // CSS Customization
    link(rel='stylesheet', href='assets/css/custom.css')
  //
    The data-spy and data-target are part of the built-in Bootstrap scrollspy function.
  body#body.demo-lightbox-gallery(data-spy='scroll', data-target='.one-page-header')
    main.wrapper
      // Header
      nav.one-page-header.navbar.navbar-default.navbar-fixed-top.one-page-nav-scrolling.one-page-nav__fixed.page-scroll(data-role='navigation', data-offset-top='90')
        .container
          .menu-container
            a.navbar-brand(href='#body')
              img(src='assets/img/logo-dark.png', alt='ALT')
          a.btn-u.btn-u-lg.btn-u-blue.btn-u-upper.rounded-2x.pull-right(href='#map') Contact us
        // /.container
      // End Header
      // Intro Section
      section.intro-section
        .container.g-pt-170.g-pb-50
          .row
            // Intro Content
            .col-md-6.col-xs-8.col-2xs-12.g-pb-70
              h1.g-mb-40
                | We are Unify best 
                em.g-color-default consulting company
              // Intro Content Item
              .g-display-table.g-mb-15.g-pr-10
                .g-display-td.g-text-middle
                  i.icon-md.g-color-default.icon-finance-218
                .g-display-td.g-text-middle
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
              // Intro Content Item
              .g-display-table.g-mb-15.g-pr-10
                .g-display-td.g-text-middle
                  i.icon-md.g-color-default.icon-finance-038
                .g-display-td.g-text-middle
                  p
                    | Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.
              // Intro Content Item
              .g-display-table.g-mb-15.g-pr-10
                .g-display-td.g-text-middle
                  i.icon-md.g-color-default.icon-finance-075
                .g-display-td.g-text-middle
                  p
                    | Aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.
              // Intro Call Block
              .intro-call-us.g-pt-30
                span.g-color-default Call us
                strong 1-800-643-4500
            // /Intro Content
          img.intro-section__image.hidden-2xs(src='assets/img-temp/img1.png', alt='')
          // Intro Image
      // End Intro Section
      // Section
      section.g-pt-130.g-pb-120
        .container
          .row
            // Left Part
            .col-xs-6.col-2xs-12.g-2xs-mb-30
              .g-heading-v7.g-mb-40
                h2.h2
                  | Launch your project 
                  em.block-name.g-color-default Become Succesfull
              .row
                // Left Part Icon
                .col-md-4.hidden-sm.hidden-xs
                  .icon-lg-wrapper.g-bg-lightblue.rounded-2x.text-center
                    i.icon-lg.icon-finance-253
                    strong Business Consulting
                // Left Part Info
                .col-md-8
                  p
                    | Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmotempor in ut labore et dolore magna aliqua.
                  ul.list-unstyled
                    li.g-mb-5
                      i.fa.fa-angle-right.g-color-default.g-mr-3
                      |  Ut enim ad minim veniam, quis nostrud
                    li.g-mb-5
                      i.fa.fa-angle-right.g-color-default.g-mr-3
                      |  Exercitation ullamco laboris nisi
                    li.g-mb-5
                      i.fa.fa-angle-right.g-color-default.g-mr-3
                      |  Commodo consequat
                    li.g-mb-5
                      i.fa.fa-angle-right.g-color-default.g-mr-3
                      |  Duis aute irure dolor in reprehenderit
                    li.g-mb-5
                      i.fa.fa-angle-right.g-color-default.g-mr-3
                      |  Laudantium, totam rem aperiam
            // /Left Part
            // Right Part
            .col-xs-6.col-2xs-12
              .g-display-table.g-mb-25
                // Right Part Item
                .g-display-td.g-text-top
                  .icon-md-wrapper.g-bg-lightblue.rounded-2x.text-center.g-mr-20
                    i.icon-md.icon-finance-258
                .g-display-td.g-text-top
                  h4.h4.g-mb-7 Awesome service
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
              // Right Part Item
              .g-display-table.g-mb-25
                .g-display-td.g-text-top
                  .icon-md-wrapper.g-bg-lightblue.rounded-2x.text-center.g-mr-20
                    i.icon-md.icon-finance-119
                .g-display-td.g-text-top
                  h4.h4.g-mb-7 Analytic data
                  p
                    | Dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.
              // Right Part Item
              .g-display-table
                .g-display-td.g-text-top
                  .icon-md-wrapper.g-bg-lightblue.rounded-2x.text-center.g-mr-20
                    i.icon-md.icon-finance-086
                .g-display-td.g-text-top
                  h4.h4.g-mb-7 Business solutions
                  p
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            // /Right Part
      // End Section
      // Testimonials Section
      section.g-bg-lightblue.g-pt-130.g-pb-120
        .container
          .g-heading-v7.text-center
            h2.h2.g-mb-40 Latest Testimonials
          .testimonials-v7.owl-lightweight-arrow.owl-lightweight-arrow-black.text-center
            // Testimonial Item
            .testimonials-v7-item
              img.g-mb-30(src='assets/img-temp/testimonials/1.jpg', alt='')
              blockquote
                | Ut augue diam, lacinia fringilla erat eu, vehicula commodo quam. Aliquam eget accumsan ligula. Maecenas sit amet consectetur lectus. Suspendisse commodo et magna non pulvinar. Quisque et ultricies sem, et vulputate dui. Morbi aliquam leo id ipsum tempus mollis.
              strong.g-color-default Julia DiFranco
            // /Testimonial Item
            // Testimonial Item
            .testimonials-v7-item
              img.g-mb-30(src='assets/img-temp/testimonials/2.jpg', alt='')
              blockquote
                | Ut augue diam, lacinia fringilla erat eu, vehicula commodo quam. Aliquam eget accumsan ligula. Maecenas sit amet consectetur lectus. Suspendisse commodo et magna non pulvinar. Quisque et ultricies sem, et vulputate dui. Morbi aliquam leo id ipsum tempus mollis.
              strong.g-color-default Joe Armstrong
            // /Testimonial Item
            // Testimonial Item
            .testimonials-v7-item
              img.g-mb-30(src='assets/img-temp/testimonials/3.jpg', alt='')
              blockquote
                | Ut augue diam, lacinia fringilla erat eu, vehicula commodo quam. Aliquam eget accumsan ligula. Maecenas sit amet consectetur lectus. Suspendisse commodo et magna non pulvinar. Quisque et ultricies sem, et vulputate dui. Morbi aliquam leo id ipsum tempus mollis.
              strong.g-color-default Melissa Roberts
            // /Testimonial Item
      // End Testimonials Section
      // Section
      section.g-pt-130.g-pb-80
        .container
          .g-heading-v7.text-center
            h2.h2.g-mb-40 All Features
          .row
            // Left Part
            .col-md-4.col-xs-12
              .g-display-table.g-mb-35.g-pr-10
                .g-display-td.g-text-top
                  .icon-md-wrapper.g-bg-lightblue.rounded-2x.text-center.g-mr-20
                    i.icon-md.icon-finance-254
                .g-display-td.g-text-top
                  h4.h4.g-mb-7 Daily graphs
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
              .g-display-table.g-mb-35.g-pr-10
                .g-display-td.g-text-top
                  .icon-md-wrapper.g-bg-lightblue.rounded-2x.text-center.g-mr-20
                    i.icon-md.icon-finance-249
                .g-display-td.g-text-top
                  h4.h4.g-mb-7 Data charts
                  p
                    | Dolore magna aliqua. Ut enim ad minim veniam, quis nostrd exercitation ullamco laboris.
              .g-display-table.g-mb-35.g-pr-10
                .g-display-td.g-text-top
                  .icon-md-wrapper.g-bg-lightblue.rounded-2x.text-center.g-mr-20
                    i.icon-md.icon-finance-250
                .g-display-td.g-text-top
                  h4.h4.g-mb-7 Data sheets
                  p
                    | Duis aute irure dolor in pret in voluptate velit esse cillum dolore eu fugiat pariatur.
            // /Left Part
            // Central Part
            .col-md-4.col-xs-12
              .g-display-table.g-mb-35.g-pr-10
                .g-display-td.g-text-top
                  .icon-md-wrapper.g-bg-lightblue.rounded-2x.text-center.g-mr-20
                    i.icon-md.icon-finance-218
                .g-display-td.g-text-top
                  h4.h4.g-mb-7 Consulting service
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
              .g-display-table.g-mb-35.g-pr-10
                .g-display-td.g-text-top
                  .icon-md-wrapper.g-bg-lightblue.rounded-2x.text-center.g-mr-20
                    i.icon-md.icon-finance-160
                .g-display-td.g-text-top
                  h4.h4.g-mb-7 Professional team
                  p
                    | Dolore magna aliqua. Ut enim ad minim veniam, quis nostrd exercitation ullamco laboris.
              .g-display-table.g-mb-35.g-pr-10
                .g-display-td.g-text-top
                  .icon-md-wrapper.g-bg-lightblue.rounded-2x.text-center.g-mr-20
                    i.icon-md.icon-finance-127
                .g-display-td.g-text-top
                  h4.h4.g-mb-7 Education
                  p
                    | Duis aute irure dolor in pret in voluptate velit esse cillum dolore eu fugiat pariatur.
            // /Central Part
            // Right Part
            .col-md-4.col-xs-12
              .g-display-table.g-mb-35.g-pr-10
                .g-display-td.g-text-top
                  .icon-md-wrapper.g-bg-lightblue.rounded-2x.text-center.g-mr-20
                    i.icon-md.icon-finance-072
                .g-display-td.g-text-top
                  h4.h4.g-mb-7 Mobile ready
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
              .g-display-table.g-mb-35.g-pr-10
                .g-display-td.g-text-top
                  .icon-md-wrapper.g-bg-lightblue.rounded-2x.text-center.g-mr-20
                    i.icon-md.icon-finance-067
                .g-display-td.g-text-top
                  h4.h4.g-mb-7 Personal assistant
                  p
                    | Dolore magna aliqua. Ut enim ad minim veniam, quis nostrd exercitation ullamco laboris.
              .g-display-table.g-mb-35.g-pr-10
                .g-display-td.g-text-top
                  .icon-md-wrapper.g-bg-lightblue.rounded-2x.text-center.g-mr-20
                    i.icon-md.icon-finance-206
                .g-display-td.g-text-top
                  h4.h4.g-mb-7 ONLINE support
                  p
                    | Duis aute irure dolor in pret in voluptate velit esse cillum dolore eu fugiat pariatur.
            // /Right Part
      // End Section
      // Section
      section.g-pb-90.text-center
        .container
          .g-heading-v7
            h2.h2.g-mb-40 Pricing
          .row
            // Pricing Item
            .col-md-3.col-xs-6.col-2xs-12.g-mb-30
              .pricing-v9.rounded-2x.hover-effect
                .pricing-v9-head
                  h3.h3
                    span.g-color-default Basic
                    |  Plan
                ul.list-unstyled
                  li Business Support
                  li 24 hour Support
                  li Personal Consultant
                  li Online Support
                  li  
                  li  
                .pricing-v9-price
                  | From 
                  span.g-color-default $100
                  |  per month
                .pricing-v9-footer
                  a.btn-u.btn-u-lg.btn-u-blue.btn-u-upper.rounded-2x(href='#') Start now
            // /Pricing Item
            // Pricing Item
            .col-md-3.col-xs-6.col-2xs-12.g-mb-30
              .pricing-v9.rounded-2x.hover-effect
                .pricing-v9-head
                  h3.h3
                    span.g-color-default Bronse
                    |  Plan
                ul.list-unstyled
                  li Business Support
                  li 24 hour Support
                  li Personal Consultant
                  li Online Support
                  li Basic Features
                  li  
                .pricing-v9-price
                  | From 
                  span.g-color-default $200
                  |  per month
                .pricing-v9-footer
                  a.btn-u.btn-u-lg.btn-u-blue.btn-u-upper.rounded-2x(href='#') Start now
            // /Pricing Item
            // Pricing Item
            .col-md-3.col-xs-6.col-2xs-12.g-mb-30
              .pricing-v9.rounded-2x.hover-effect
                .pricing-v9-head
                  h3.h3
                    span.g-color-default Silver
                    |  Plan
                ul.list-unstyled
                  li Business Support
                  li 24 hour Support
                  li Personal Consultant
                  li Online Support
                  li Premium Features
                  li  
                .pricing-v9-price
                  | From 
                  span.g-color-default $300
                  |  per month
                .pricing-v9-footer
                  a.btn-u.btn-u-lg.btn-u-blue.btn-u-upper.rounded-2x(href='#') Start now
            // /Pricing Item
            // Pricing Item
            .col-md-3.col-xs-6.col-2xs-12.g-mb-30
              .pricing-v9.rounded-2x.hover-effect
                .pricing-v9-head
                  h3.h3
                    span.g-color-default Gold
                    |  Plan
                ul.list-unstyled
                  li Business Support
                  li 24 hour Support
                  li Personal Consultant
                  li Online Support
                  li Premium Features
                  li Free Education
                .pricing-v9-price
                  | From 
                  span.g-color-default $400
                  |  per month
                .pricing-v9-footer
                  a.btn-u.btn-u-lg.btn-u-blue.btn-u-upper.rounded-2x(href='#') Start now
            // /Pricing Item
      // End Section
      // Section
      section.support.g-bg-lightblue
        .container.g-pt-130.g-pb-120
          .row
            .col-md-6
              .g-heading-v7
                h2.h2.g-mb-70
                  | Get 6 month support for free 
                  em.block-name.g-color-default Please fill this form
            // Support Form
            .col-md-5.col-sm-6.col-xs-12.pull-right
              form.sky-form.simple-form(action='#', method='post')
                fieldset
                  label.input.g-mb-20
                    span.icon-append.icon-user
                    input#name.rounded-2x(type='text', placeholder='Your name', name='name')
                  label.input.g-mb-20
                    span.icon-append.icon-communication-008
                    input#phone.rounded-2x(type='text', placeholder='Your phone', name='phone')
                  label.input.g-mb-20
                    span.icon-append.icon-finance-186
                    input#subject.rounded-2x(type='text', placeholder='Subject', name='subject')
                  label.textarea.textarea-expandable.g-mb-25
                    span.icon-append.icon-finance-206
                    textarea#message.rounded-2x(rows='3', placeholder='Message', name='message')
                  button.btn-u.btn-u-lg.btn-u-blue.btn-u-upper.rounded-2x.g-width-100(type='submit') Send Message
            // /Support Form
          img.support__image.hidden-xs(src='assets/img-temp/img2.png', alt='')
          // Support Image
      // End Section
      // Section
      section.g-pt-130.g-pb-110
        .container
          .g-heading-v7.text-center
            h2.h2.g-mb-40 Our team
          .team-v6.owl-lightweight-arrow.owl-lightweight-arrow-black.text-center
            // Team Item
            .team-v6-item
              img.img-responsive.rounded-2x(src='assets/img-temp/team/1.jpg', alt='')
              span Monica Gaudy
              small Financial manager
              ul.list-inline.social-icons-v1
                li
                  a(href='#')
                    i.rounded-x.fa.fa-twitter
                li
                  a(href='#')
                    i.rounded-x.fa.fa-facebook
                li
                  a(href='#')
                    i.rounded-x.fa.fa-google-plus
            // /Team Item
            // Team Item
            .team-v6-item
              img.img-responsive.rounded-2x(src='assets/img-temp/team/2.jpg', alt='')
              span John Brown
              small Head manager
              ul.list-inline.social-icons-v1
                li
                  a(href='#')
                    i.rounded-x.fa.fa-twitter
                li
                  a(href='#')
                    i.rounded-x.fa.fa-facebook
                li
                  a(href='#')
                    i.rounded-x.fa.fa-google-plus
            // /Team Item
            // Team Item
            .team-v6-item
              img.img-responsive.rounded-2x(src='assets/img-temp/team/3.jpg', alt='')
              span Ralf Smith
              small Marketing manager
              ul.list-inline.social-icons-v1
                li
                  a(href='#')
                    i.rounded-x.fa.fa-twitter
                li
                  a(href='#')
                    i.rounded-x.fa.fa-facebook
                li
                  a(href='#')
                    i.rounded-x.fa.fa-google-plus
            // /Team Item
            // Team Item
            .team-v6-item
              img.img-responsive.rounded-2x(src='assets/img-temp/team/4.jpg', alt='')
              span Julia Exon
              small Sales manager
              ul.list-inline.social-icons-v1
                li
                  a(href='#')
                    i.rounded-x.fa.fa-twitter
                li
                  a(href='#')
                    i.rounded-x.fa.fa-facebook
                li
                  a(href='#')
                    i.rounded-x.fa.fa-google-plus
            // Team Item
            .team-v6-item
              img.img-responsive.rounded-2x(src='assets/img-temp/team/5.jpg', alt='')
              span Jacob Assange
              small Support
              ul.list-inline.social-icons-v1
                li
                  a(href='#')
                    i.rounded-x.fa.fa-twitter
                li
                  a(href='#')
                    i.rounded-x.fa.fa-facebook
                li
                  a(href='#')
                    i.rounded-x.fa.fa-google-plus
            // /Team Item
            // Team Item
            .team-v6-item
              img.img-responsive.rounded-2x(src='assets/img-temp/team/6.jpg', alt='')
              span Katie Gonzalez
              small Support
              ul.list-inline.social-icons-v1
                li
                  a(href='#')
                    i.rounded-x.fa.fa-twitter
                li
                  a(href='#')
                    i.rounded-x.fa.fa-facebook
                li
                  a(href='#')
                    i.rounded-x.fa.fa-google-plus
            // /Team Item
      // End Section
      // Clients Section
      section.g-pb-120
        .container
          .g-heading-v7.text-center
            h2.h2.g-mb-40 Our clients
          .owl-clients-v5
            div
              a(href='#')
                img(src='assets/img-temp/clients/1.png', alt='')
            div
              a(href='#')
                img(src='assets/img-temp/clients/2.png', alt='')
            div
              a(href='#')
                img(src='assets/img-temp/clients/3.png', alt='')
            div
              a(href='#')
                img(src='assets/img-temp/clients/4.png', alt='')
            div
              a(href='#')
                img(src='assets/img-temp/clients/5.png', alt='')
            div
              a(href='#')
                img(src='assets/img-temp/clients/6.png', alt='')
            div
              a(href='#')
                img(src='assets/img-temp/clients/7.png', alt='')
            div
              a(href='#')
                img(src='assets/img-temp/clients/8.png', alt='')
            div
              a(href='#')
                img(src='assets/img-temp/clients/9.png', alt='')
      // End Clients Section
      // Map Section
      section.map-section
        #map
      // End Map Section
      // Subscribe Section
      section.g-bg-lightblue.g-pt-50.g-pb-50
        .container
          .row
            .col-sm-6
              h3.h3.g-mb-0.g-pt-10.g-xs-mb-20 Subscribe to our weekly newsletter
            // Subscribe Form
            .col-sm-6
              form.sky-form.simple-form(action='#', method='post')
                .input-group
                  label.input.g-mb-0.g-mr-20
                    span.icon-append.icon-envelope
                    input#email.rounded-2x(type='text', placeholder='Enter your email', name='email')
                  span.input-group-btn
                    button.btn-u.btn-u-lg.btn-u-blue.btn-u-upper.rounded-2x(type='submit') Subscribe
            // /Subscribe Form
      // End Subscribe Section
      // Footer
      section.footer-v14.g-text-transform__uppercase.g-pt-40.g-pb-40
        .container
          .row
            .col-sm-3.g-sm-mb-20
              | © 2016 All right reserved.
              br
              |  Unify Theme by 
              a(href='http://htmlstream.com/', target='_blank') HTML Stream
            .col-sm-3.g-sm-mb-20
              | Call us
              br
              span.g-color-default +1-777-888-1234
            //
              <div class="col-md-2">
              Email us<br>
              <a href="mailto:#">email@htmlstream.com</a>
              </div>
            .col-sm-3.g-sm-mb-20
              | Our location
              br
              span.g-color-default London, Birmingham str. 28
            .col-sm-3.text-right.g-sm-text-left
              ul.social-icons
                li
                  a.rounded-x.social_facebook(data-original-title='Facebook', href='#')
                li
                  a.rounded-x.social_twitter(data-original-title='Twitter', href='#')
                li
                  a.rounded-x.social_googleplus(data-original-title='Goole Plus', href='#')
                li
                  a.rounded-x.social_linkedin(data-original-title='Linkedin', href='#')
      // End Footer
    // JS Global Compulsory
    script(src='../assets/plugins/jquery/jquery.min.js')
    script(src='../assets/plugins/jquery/jquery-migrate.min.js')
    script(src='../assets/plugins/bootstrap/js/bootstrap.min.js')
    // JS Implementing Plugins
    script(src='../assets/plugins/smoothScroll.js')
    script(src='../assets/plugins/jquery.easing.min.js')
    script(src='../assets/plugins/owl-carousel2/owl.carousel.min.js')
    script(src='../assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js')
    script(src='../assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js')
    script(src='../assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js')
    script(src='../assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js')
    script(src='https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap', async='', defer='')
    script(src='assets/js/plugins/gmaps-ini.js')
    // JS Page Level
    script(src='../assets/js/one.app.js')
    script(src='assets/js/plugins/owl-carousel2.js')
    script(src='assets/js/forms/contact.js')
    script.
      $(function() {
      App.init();
      OwlCarousel.initOwlCarousel();
      ContactForm.initContactForm();
      });
    //if lt IE 10
      script(src='../assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js')
